apiVersion: v1
kind: Service
metadata:
  name: github-actions-demo
  namespace: demo
  labels:
    app: github-actions-demo
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: github-actions-demo
